# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=AStrongPassword123
POSTGRES_DB=docket
POSTGRES_HOST=localhost

# Drizzle
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}"
